<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>gitree - Options</title>
    <% if (NODE_ENV === 'development') { %>
    <!-- Load some resources only in development environment -->
    <% } %>
    <link rel="stylesheet" href="../vender/element.css" />
    <link rel="stylesheet" href="options.css" />
  </head>
  <body>
    <div id="app"></div>
    <script src="../vender/common.js"></script>
    <script src="../vender/element.js"></script>
    <script src="options.js"></script>
  </body>
</html>
